* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    border: 2px solid black;
    margin: auto;
    height: 100%;
}

/* ------header part------ */

header {
    width: 100%;
    height: 200px;
    background-color: yellow;
}

.upper-head {
    height: 100px;
    background-color: blue;
}

.lower-head {
    height: 100px;
    background-color: red;
}

/* ------fine head part------ */

/* promo part under the header */

.promo-side {
    height: 100px;
    background-color: #425b76;
}

/* ------fine promo part----- */

/* ------main part------- */

main {
    width: 100%;
    height: 500px;
    background-color: gold;
}
