* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    border: 2px solid black;
    margin: auto;
    height: 100%;
}

/* ------header part------ */

header {
    width: 100%;
}

.upper-head {
    background-color: #f5f8fa;
}

ul li {
    list-style: none;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}

ul li a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: grey;
}

button {
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 8px;
}

.upper-head-right {
    float: right;
}

.upper-head-left {
    display: inline-block;
}

#login {
    border: 1px solid #ff7a59;
    background-color: #fff;
    color: #ff7a59;
}

#free {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
}

#login:hover {
    background-color: #ffbcac;
    color: #fff;
}

#free:hover {
    background-color: #fff;
    color: #ffbcac;
}

/* ------fine upper head part------ */

.lower-head {
    height: 100px;
    background-color: red;
}

/* ------fine head part------ */

/* promo part under the header */

.promo-side {
    height: 100px;
    background-color: #425b76;
}

/* ------fine promo part----- */

/* ------main part------- */

main {
    width: 100%;
    height: 500px;
    background-color: gold;
}
